<!DOCTYPE html>
<html>
  <head>
    <%- partial("_shared/_head") %>
  </head>
  <body>
   <%- partial("_shared/_blurb") %>

    <%- partial("_shared/_header") %>

    <%- yield %>
<%- partial("_shared/_footer") %>
    
  </body>
</html>
