<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">



<title><%= meta.title %></title>
<meta property="og:title" content="<%= meta.title %>" />
<meta name="description" content="<%= meta.description %>">
<meta property="og:description" content="<%= meta.description %>" />



<!-- CSS -->
<link href="<%= config.assets.folder_css %>/tufte.css" media="all" rel="stylesheet" />
